@font-face {
  font-family: YouSheBiaoTiHei;
  src: url('../fonts/tihi.ttf') format('truetype');
}

@font-face {
  font-family: AlibabaSans;
  src: url('../fonts/AlibabaSans-Medium.otf') format('opentype');
}

@font-face {
  font-family: SourceHanSansCN;
  src: url('../fonts/SourceHanSansCN-Medium.otf') format('opentype');
}

@font-face {
  font-family: SourceHanSerifCN;
  src: url('../fonts/SourceHanSerifCN-Medium.otf') format('opentype');
}