.clearfix {
  zoom: 1;
  text-align: left;
  word-break: break-all;
}

.clearfix::after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '.';
}

.clearfix2 {
  zoom: 1;
  text-align: center;
  word-break: break-all;
}

.clearfix2::after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '.';
}